[Unit]
Description=LANXI Monitor Service
After=network.target

[Service]
ExecStart=/home/ubuntu/lanxi/bin/lanxi-monitor
WorkingDirectory=/home/ubuntu/lanxi
Restart=always
User=ubuntu
Group=ubuntu
Environment="PORT=8080"
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
